.hero-image {
  width: 100%;
  height: 180px; /* Define un tamaño consistente para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
  border-radius: 10px;
  margin-bottom: 1rem;
}